In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression

G:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Step1:数据集导入

In [2]:
data_1 = pd.read_csv('AirQualityUCI.csv')

In [3]:
data_1.head(5)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004/3/10,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,2004/3/10,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,2004/3/10,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,2004/3/10,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,2004/3/10,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

### Step2 数据预处理

###### 2.1发现数据集中有三列缺失值较多，直接删除该三列

In [4]:
del data_1['NMHC(GT)']

In [5]:
del data_1['NOx(GT)']

In [6]:
del data_1['NO2(GT)']

###### 2.2 删除无用列：“日期”“时间”

In [7]:
del data_1['Date']

In [8]:
del data_1['Time']

In [9]:
data_1.head(20)

,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),PT08.S3(NOx),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360,11.9,1046,1056,1692,1268,13.6,48.9,0.7578
1,2.0,1292,9.4,955,1174,1559,972,13.3,47.7,0.7255
2,2.2,1402,9.0,939,1140,1555,1074,11.9,54.0,0.7502
3,2.2,1376,9.2,948,1092,1584,1203,11.0,60.0,0.7867
4,1.6,1272,6.5,836,1205,1490,1110,11.2,59.6,0.7888
5,1.2,1197,4.7,750,1337,1393,949,11.2,59.2,0.7848
6,1.2,1185,3.6,690,1462,1333,733,11.3,56.8,0.7603
7,1.0,1136,3.3,672,1453,1333,730,10.7,60.0,0.7702
8,0.9,1094,2.3,609,1579,1276,620,10.7,59.7,0.7648
9,0.6,1010,1.7,561,1705,1235,501,10.3,60.2,0.7517
10,-200.0,1011,1.3,527,1818,1197,445,10.1,60.5,0.7465
11,0.7,1066,1.1,512,1918,1182,422,11.0,56.2,0.7366
12,0.7,1052,1.6,553,1738,1221,472,10.5,58.1,0.7353
13,1.1,1144,3.2,667,1490,1339,730,10.2,59.6,0.7417
14,2.0,1333,8.0,900,1136,1517,1102,10.8,57.4,0.7408
15,2.2,1351,9.5,960,1079,1583,1028,10.5,60.6,0.7691
16,1.7,1233,6.3,827,1218,1446,860,10.8,58.4,0.7552
17,1.5,1179,5.0,762,1328,1362,671,10.5,57.9,0.7352
18,1.6,1236,5.2,774,1301,1401,664,9.5,66.8,0.7951
19,1.9,1286,7.3,869,1162,1537,799,8.3,76.4,0.8393

### Step3 划分训练集，测试集

In [10]:
features = data_1

In [11]:
features = features.drop('T', axis=1)

In [12]:
labels = data_1['T'].values

In [13]:
features = features.values

In [14]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3)

### Step 4  线性回归处理

In [15]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
regressor.predict(X_test)

array([   7.10765473,   30.55573995,    7.86597345, ...,   27.29277505,
         18.85155543, -200.10062456])

In [17]:
print("R^2 score for liner regression: ", regressor.score(X_test, y_test))

R^2 score for liner regression:  0.9938088451623733